In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('naukri.csv')

In [3]:
df.head()

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,NaN,ITES,43b19632647068535437c774b6ca6cf8
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,NaN,Marketing,d4c72325e57f89f364812b5ed5a795f0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,c47df6f4cfdf5b46f1fd713ba61b9eba
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,Accounts,115d28f140f694dd1cc61c53d03c66ae
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,a12553fc03bc7bcced8b1bb8963f97b4

In [4]:
df.shape

(22000, 14)

In [5]:
# Getting the total number of missing values

df.isnull().sum()

company                    4
education               1996
experience                 4
industry                   5
jobdescription             4
jobid                      0
joblocation_address      501
jobtitle                   0
numberofpositions      17536
payrate                   97
postdate                  23
site_name              18013
skills                   528
uniq_id                    0
dtype: int64

In [6]:
df.index

RangeIndex(start=0, stop=22000, step=1)

In [7]:
# Converting number of missing values to percentage

percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                 0.02
education               9.07
experience              0.02
industry                0.02
jobdescription          0.02
jobid                   0.00
joblocation_address     2.28
jobtitle                0.00
numberofpositions      79.71
payrate                 0.44
postdate                0.10
site_name              81.88
skills                  2.40
uniq_id                 0.00
dtype: float64

In [8]:
# Dropping 'numberofpositions' and 'site_name' as they have highest % of missing value

df = df.drop('numberofpositions', axis = 1)
df = df.drop('site_name', axis = 1)

In [9]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.02
education              9.07
experience             0.02
industry               0.02
jobdescription         0.02
jobid                  0.00
joblocation_address    2.28
jobtitle               0.00
payrate                0.44
postdate               0.10
skills                 2.40
uniq_id                0.00
dtype: float64

In [10]:
df.columns

Index(['company', 'education', 'experience', 'industry', 'jobdescription',
       'jobid', 'joblocation_address', 'jobtitle', 'payrate', 'postdate',
       'skills', 'uniq_id'],
      dtype='object')

In [11]:
# Getting the statistics of 'joblocation_address'

df['joblocation_address'].describe()

count                   21499
unique                   2329
top       Bengaluru/Bangalore
freq                     3775
Name: joblocation_address, dtype: object

In [12]:
# Finding the location which was mentioned maximum number of times

df['joblocation_address'].value_counts()

Bengaluru/Bangalore                                                                                                                                3775
Mumbai                                                                                                                                             2348
Bengaluru                                                                                                                                          1453
Hyderabad / Secunderabad                                                                                                                           1246
Chennai                                                                                                                                            1204
                                                                                                                                                   ...
Gurgaon , Delhi , Chandigarh , Bengaluru/Bangalore , Jalandhar , Pune , Ahmedabad , Ludhiana , Chennai                                                1
Bengaluru/Bangalore , Chennai , Hyderabad / Secunderabad , Delhi/NCR(National Capital Region) , Ernakulam / Kochi/ Cochin , Visakhapatnam/Vizag       1
Bengaluru/Bangalore , Mumbai , Hyderabad / Secunderabad , Agra , Chandigarh , Moga                                                                    1
Pune, Bengaluru, Mumbai, Chennai, Hyderabad, Noida, Gurgaon                                                                                           1
Gurgaon , Faridabad                                                                                                                                   1
Name: joblocation_address, Length: 2329, dtype: int64

In [13]:
# Grouping the same values together

df['joblocation_address'] = df['joblocation_address'].replace('Bengaluru/Bangalore', 'Bengaluru')

In [14]:
df['joblocation_address'].value_counts()

Bengaluru                                                                                                                                          5228
Mumbai                                                                                                                                             2348
Hyderabad / Secunderabad                                                                                                                           1246
Chennai                                                                                                                                            1204
Hyderabad                                                                                                                                           936
                                                                                                                                                   ...
Gurgaon , Delhi , Chandigarh , Bengaluru/Bangalore , Jalandhar , Pune , Ahmedabad , Ludhiana , Chennai                                                1
Bengaluru/Bangalore , Chennai , Hyderabad / Secunderabad , Delhi/NCR(National Capital Region) , Ernakulam / Kochi/ Cochin , Visakhapatnam/Vizag       1
Bengaluru/Bangalore , Mumbai , Hyderabad / Secunderabad , Agra , Chandigarh , Moga                                                                    1
Pune, Bengaluru, Mumbai, Chennai, Hyderabad, Noida, Gurgaon                                                                                           1
Gurgaon , Faridabad                                                                                                                                   1
Name: joblocation_address, Length: 2328, dtype: int64

In [15]:
# Filling the missing value of 'joblocation_address' with the value that repeated maximum no. of times

df['joblocation_address'] = df['joblocation_address'].fillna(df['joblocation_address'].mode()[0])

In [16]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.02
education              9.07
experience             0.02
industry               0.02
jobdescription         0.02
jobid                  0.00
joblocation_address    0.00
jobtitle               0.00
payrate                0.44
postdate               0.10
skills                 2.40
uniq_id                0.00
dtype: float64

In [17]:
# Getting statisctics of 'education'

df['education'].describe()

count                                                 20004
unique                                                 2355
top       UG: Any Graduate - Any Specialization, Graduat...
freq                                                   2015
Name: education, dtype: object

In [18]:
df['education'].value_counts()

UG: Any Graduate - Any Specialization, Graduation Not Required PG:Any Postgraduate - Any Specialization, Post Graduation Not Required Doctorate:Any Doctorate - Any Specialization, Doctorate Not Required                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2015
UG: B.Tech/B.E. PG:M.Tech Doctorate:Any Doctorate - Any Specialization, Doctorate Not Required                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1607
UG: B.Tech/B.E. PG:Post Graduation Not Required Doctorate:Any Doctorate - Any Specialization, Doctorate Not Required                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1513
UG: Any Graduate - Any Specialization PG:Any Postgraduate - Any Specialization Doctorate:Any Doctorate - Any Specialization, Doctorate Not Required                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1355
UG: Any Graduate PG:Any Postgraduate Doctorate:Any Doctorate - Any Specialization, Doctorate Not Required                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1248
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...
UG: B.Tech/B.E. - Any Specialization, BCA - Computers, Graduation Not Required, Any Graduate - Any Specialization PG:Any Postgraduate - Any Specialization, Post Graduation Not Required Doctorate:Any Doctorate - Any Specialization, Doctorate Not Required                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
UG: B.Tech/B.E. - Bio-Chemistry/Bio-Technology, Biomedical, Other Specialization, B.Sc - Bio-Chemistry, Biology, Dairy Technology, Food Technology, Home science, Microbiology, Nursing, Zoology, Other Specialization, Diploma - Other Specialization, BDS - Dentistry, B.Pharma - Pharmacy, BVSC - Veterinary Science, MBBS - Medicine, Other Graduate PG:M.Tech - Bio-Chemistry/Bio-Technology, Biomedical, Other Engineering, MS/M.Sc(Science) - Bio-Chemistry, Biology, Dairy Technology, Food Technology, Home science, Microbiology, Nursing, Zoology, Other, M.Pharma - Pharmacy, Medical-MS/MD - Cardiology, Dermatology, ENT, General Practitioner, Gyneocology, Hepatology, Immunology, Microbiology, Neonatal, Nephrology, Pediatrics, Psychiatry, Rheumatology, Urology, Obstretrics, Oncology, Opthalmology, Orthopaedic, Pathology, psychology, Radiology, Other, MVSC - Veterinary Science       1
UG: Any Graduate - Any Specialization, B.Ed, Diploma - Any Specialization, Engineering, Other Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
UG: B.Tech/B.E. - Any Specialization, Computers, B.Sc - Computers PG:M.Tech - Any Specialization, Computers Doctorate:Doctorate Not Required                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
UG: B.Tech/B.E. - Any Specialization, Electrical, Electronics/Telecommunication, Computers PG:M.Tech - Any Specialization, Electrical, Electronics/Telecommunication, Computers                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Name: education, Length: 2355, dtype: int64

In [19]:
# Filling the missing values of 'education' with the value that repeated maximum no. of times

df['education'] = df['education'].fillna(df['education'].mode()[0])

In [20]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.02
education              0.00
experience             0.02
industry               0.02
jobdescription         0.02
jobid                  0.00
joblocation_address    0.00
jobtitle               0.00
payrate                0.44
postdate               0.10
skills                 2.40
uniq_id                0.00
dtype: float64

In [21]:
# Getting the statistics of 'skills'

df['skills'].describe()

count                                     21472
unique                                       45
top       IT Software - Application Programming
freq                                       5989
Name: skills, dtype: object

In [22]:
df['skills'].value_counts()

IT Software - Application Programming      5989
Sales                                      2893
ITES                                       1640
Teaching                                   1091
HR                                          928
Marketing                                   868
Accounts                                    860
Production                                  667
Medical                                     418
Financial Services                          413
IT Software - Other                         407
Engineering Design                          382
IT Software - Network Administration        372
IT Software - ERP                           354
IT Software - QA & Testing                  342
IT Software - eCommerce                     336
Site Engineering                            322
IT Software - DBA                           273
IT Software - Embedded                      262
IT Hardware                                 253
Journalism                                  252
Supply Chain                                232
Design                                      227
IT Software - Mobile                        203
Analytics & Business Intelligence           190
IT Software - System Programming            176
Executive Assistant                         172
Hotels                                      161
IT Software - Telecom Software              114
Travel                                       90
Strategy                                     80
Legal                                        78
Top Management                               76
IT Software - Client/Server Programming      62
Fashion Designing                            59
Architecture                                 56
Export                                       48
IT Software - Systems                        43
IT Software - Middleware                     23
TV                                           20
IT Software - Mainframe                      15
Defence Forces                               13
Packaging                                     8
Beauty/Fitness/Spa Services                   3
Shipping                                      1
Name: skills, dtype: int64

In [23]:
# Filling the missing value with mode

df['skills'] = df['skills'].fillna(df['skills'].mode()[0])

In [24]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.02
education              0.00
experience             0.02
industry               0.02
jobdescription         0.02
jobid                  0.00
joblocation_address    0.00
jobtitle               0.00
payrate                0.44
postdate               0.10
skills                 0.00
uniq_id                0.00
dtype: float64

In [25]:
# Getting the statistics of 'postdate'

df['postdate'].describe()

count                         21977
unique                         4203
top       2016-05-21 08:24:31 +0000
freq                             48
Name: postdate, dtype: object

In [26]:
df['postdate'].value_counts()

2016-05-21 08:24:31 +0000    48
2015-12-29 02:23:35 +0000    44
2015-12-29 02:23:36 +0000    42
2015-12-29 02:23:31 +0000    42
2015-12-29 02:23:38 +0000    42
                             ..
2016-08-05 18:44:27 +0000     1
2016-05-16 06:05:45 +0000     1
2016-04-04 07:24:34 +0000     1
2016-03-07 02:31:09 +0000     1
2016-01-05 07:24:25 +0000     1
Name: postdate, Length: 4203, dtype: int64

In [27]:
type(df['postdate'])

pandas.core.series.Series

In [28]:
# Filling the missing values with mode

df['postdate'] = df['postdate'].fillna(df['postdate'].mode()[0])

In [29]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.02
education              0.00
experience             0.02
industry               0.02
jobdescription         0.02
jobid                  0.00
joblocation_address    0.00
jobtitle               0.00
payrate                0.44
postdate               0.00
skills                 0.00
uniq_id                0.00
dtype: float64

In [30]:
# Getting the statistics of 'payrate'

df['payrate'].describe()

count                          21903
unique                          1848
top       Not Disclosed by Recruiter
freq                           15849
Name: payrate, dtype: object

In [31]:
df['payrate'].value_counts()

Not Disclosed by Recruiter                                                            15849
Pay Band: PB4 (Rs.3740067000) with Academic Grade Pay of Rs.10,500/p.m.                 121
Pay Band: PB4 (Rs.3740067000) with Academic Grade Pay of Rs.9,500/p.m.                  116
Best in the Industry                                                                     87
Pay Band: PB3 (Rs.15600-39100) with Academic Grade Pay of Rs.8,000/p. m.                 84
                                                                                      ...
6,00,000 - 8,00,000 P.A. Bonus as applicable                                              1
As per Industry standard + Conveyance + Incentive                                         1
3,25,000 - 7,00,000 P.A                                                                   1
Less Than 50,000 P.A. Rs.1500 per day + travel allowance - assured 10 days / month        1
1,00,000 - 4,00,000 P.A. Incentives+ Mobile Expence                                       1
Name: payrate, Length: 1848, dtype: int64

In [32]:
# Filling the missing values with mode

df['payrate'] = df['payrate'].fillna(df['payrate'].mode()[0])

In [33]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.02
education              0.00
experience             0.02
industry               0.02
jobdescription         0.02
jobid                  0.00
joblocation_address    0.00
jobtitle               0.00
payrate                0.00
postdate               0.00
skills                 0.00
uniq_id                0.00
dtype: float64

In [34]:
# Getting the statistics of 'jobdescription'

df['jobdescription'].describe()

count                                                 21996
unique                                                21063
top       Job Description   Send me Jobs like this Adver...
freq                                                    121
Name: jobdescription, dtype: object

In [35]:
df['jobdescription'].value_counts()

Job Description   Send me Jobs like this Advertisement No. I-50/2013-2014 Pay Band: PB4 (Rs.3740067000) with Academic Grade Pay of Rs.10,500/p.m. For Direct recruits, minimum pay in the Pay Band to be fixed at Rs.48,000/p.m. Qualification: Ph.D. with First class or equivalent (in terms of Grades etc.) at the preceeding degree and a good academic record throughout. Experience: A minimum of ten years teaching/research/professional experience of which at least 4 years should be at the level of Associate Professor in a research organization or industry as on the date of application. The candidate should have demonstrated leadership in research in a specific area of specialization in terms of guidance of Ph.D. students, strong record of publications in reputed journals and conferences, patents, laboratory/course development and/or other recognized relevant professional activities. Send your application to the Registrar, Indian Institute of Technology, Bombay Powai, Mumbai - 400076, India This is a rolling advertisement. There is no last date. For more details: http://www.iitb.ac.in/sites/default/files/jobs/2015-03/Information%20sheet.pdf OR http://www.iitb.ac.in/sites/default/files/jobs/2014-08/AdvtI50Nov13.pdf Last Apply Date: 2017-02-16 Salary:INR Pay Band: PB4 (Rs.3740067000) with Academic Grade Pay of Rs.10,500/p.m. Industry: Education / Teaching / Training Functional Area: Teaching , Education , Training , Counselling Desired Candidate Profile Please refer to the Job description above Company Profile: Indian Institute of Technology Bombay Download PPT Photo 1   View Contact Details                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               121
Job Description   Send me Jobs like this Advertisement No. I-50/2013-2014 Pay Band: PB4 (Rs.3740067000) with Academic Grade Pay of Rs.9,500/p.m. For Direct recruits, minimum pay in the PB4 to be fixed at Rs.42,800/p.m. Qualification: Ph.D. with First class or equivalent (in terms of Grades etc.) at the preceeding degree and a good academic record throughout. Experience: A minimum of six years teaching/research/professional experience of which 3 years should be at the level of Assistant Professor, Senior Scientific Officer/Senior Design Engineer in a research organization or industry as on the date of application. The candidate should have demonstrated adequate experience of independent research in terms of guidance of M.Tech. and Ph.D. students, publications in reputed journals and conferences, patents, laboratory/course development and/or other recognized relevant professional activities. Send your application to The Registrar, Indian Institute of Technology, Bombay Powai, Mumbai - 400076, India This is a rolling advertisement. There is no last date. For more details: http://www.iitb.ac.in/sites/default/files/jobs/2015-03/Information%20sheet.pdf OR http://www.iitb.ac.in/sites/default/files/jobs/2014-08/AdvtI50Nov13.pdf Last Apply Date: 2017-02-16 Salary:INR Pay Band: PB4 (Rs.3740067000) with Academic Grade Pay of Rs.9,500/p.m. Industry: Education / Teaching / Training Functional Area: Teaching , Education , Training , Counselling Desired Candidate Profile Please refer to the Job description above Company Profile: Indian Institute of Technology Bombay Download PPT Photo 1   View Contact Details                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  116
Job Description   Send me Jobs like this Advertisement No. I-50/2013-2014 Pay Band: PB3 (Rs.15600-39100) with Academic Grade Pay of Rs.8,000/p. m. For Direct recruits, minimum pay in the Pay Band to be fixed at Rs.30,000/p.m. Qualification: Ph.D. with First class or equivalent (in terms of Grades etc.) at the preceeding degree and a good academic record throughout. Experience: A minimum of three years teaching/research/professional experience, excluding the experience gained while pursuing Ph.D. Candidate should have demonstrated research capabilities in terms of publications in reputed journals and conferences. Eligible candidates with less than the requisite experience may be taken as Assistant Professor (Contractual basis) in the pay band of Rs.15600-39100 PB3 with sufficient number of advance increments. Send your application to the Registrar, Indian Institute of Technology, Bombay Powai, Mumbai – 400 076, India This is a rolling advertisement. There is no last date. For more details: http://www.iitb.ac.in/sites/default/files/jobs/2015-03/Information%20sheet.pdf OR http://www.iitb.ac.in/sites/default/files/jobs/2014-08/AdvtI50Nov13.pdf Last Apply Date: 2017-02-16 Salary:INR Pay Band: PB3 (Rs.15600-39100) with Academic Grade Pay of Rs.8,000/p. m. Industry: Education / Teaching / Training Functional Area: Teaching , Education , Training , Counselling Desired Candidate Profile Please refer to the Job description above Company Profile: Indian Institute of Technology Bombay Download PPT Photo 1   View Contact Details                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   84
Job Description   Send me Jobs like this Faculty Position (Rolling Advertisement) Pay Scale: PB-4 (Rs.37400-67000) with AGP of Rs.9500/- p.m. For direct recruits, minimum pay in the pay band to be fixed at Rs.42800/-. Qualifications: Ph.D. with First Class at the preceding degree or equivalent in the appropriate branch with very good academic record throughout. Experience: A minimum of 6 years Teaching/Industry/Research experience, of which at least three years should be at the level of Assistant Professors, Senior Scientific Officer / Senior Design Engineer. This is a rolling advertisement, there is no last date. However, applications received earlier will be included in the earlier opportunity of cut-off date. Interested persons may send their CV through proper channel, where applicable, in the prescribed format online available in the website: www.nitie.edu Applications along with copies of testimonials, certificates, etc. may be sent by Post addressed to The Director, NITIE, Vihar Lake Road, Mumbai-400087 For more information visit: https://www.nitie.edu/NITTE%20Advertisement%202016.pdf, https://www.nitie.edu/index.php?option=com_content&view=article&id=4656&Itemid=663&lang=en   Last Apply Date: 2016-12-31 Salary:INR Pay Scale: PB-4 (Rs.37400-67000) with AGP of Rs.9500/- p.m. For direct recruits, minimum pay in the pay band to be fixed at Rs.42800/-. Industry: Education / Teaching / Training Functional Area: Teaching , Education , Training , Counselling Desired Candidate Profile Please refer to the Job description above Company Profile: National Institute of Industrial Engineering Download PPT Photo 1   View Contact Details                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 36
Job Description   Send me Jobs like this Faculty Position (Rolling Advertisement) Pay Scale: PB-4 (Rs.37400-67000) with AGP of Rs.10500/- p.m. For direct recruits, minimum pay in the pay band to be fixed at Rs.48000/- Qualifications: Ph.D. with First Class at the preceding degree or equivalent in the appropriate branch with very good academic record throughout. Experience: • A minimum of 10 years experience of which at least 4 years at the level of Associate Professor in IITs, IISc Bangalore, IIMs, NITIE, Mumbai and IISERs or at an equivalent levels in any such other Indian or foreign institutions of comparable standards, as may be so decided by the institute. This is a rolling advertisement, there is no last date. However, applications received earlier will be included in the earlier opportunity of cut-off date. Interested persons may send their CV through proper channel, where applicable, in the prescribed format online available in the website: www.nitie.edu Applications along with copies of testimonials, certificates, etc. may be sent by Post addressed to The Director, NITIE, Vihar Lake Road, Mumbai-400087 For more information visit: https://www.nitie.edu/NITTE%20Advertisement%202016.pdf, https://www.nitie.edu/index.php?option=com_content&view=article&id=4656&Itemid=663&lang=en Last Apply Date: 2016-12-31 Salary:INR Pay Scale: PB-4 (Rs.37400-67000) with AGP of Rs.10500/- p.m. Industry: Education / Teaching / Training Functional Area: Teaching , Education , Training , Counselling Desired Candidate Profile Please refer to the Job description above Company Profile: National Institute of Industrial Engineering Download PPT Photo 1   View Contact Details                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       35
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
Job Description   Send me Jobs like this We are offering Event Manager , Event coordinator & Event trainee / Interns positions. Experienced and freshers can apply! The candidate must be dedicated and work in sync with the organisations requirement and goals. We are looking for a skilled and hands-on working professional in the field of events. He/she must have excellent communication skills and be able to independently handle event planning and execution. Must be able to 1. conceptualize and produce events. 2. Event planning to execution with budgeting. 3. Vendor management and negotiations . 4. Prepare presentations to potential sponsors, clients.. 5. Manpower management (events). 6. Manage all marketing and promotions of events. 7. Must be able to meet targets of the company. 8. The candidate must be able to manage all the sports and non sports event requirements. Salary:INR 2,25,000 - 3,25,000 P.A Industry: Advertising / PR / MR / Event Management Functional Area: Sales , Retail , Business Development Role Category:Retail Sales Role:Sales/Business Development Manager Keyskills Event Manager sports manager sports assistant manager HR operations manager sports executive human resource operations manager hr ops manager Desired Candidate Profile Please refer to the Job description above Education- UG: Any Graduate - Any Specialization Company Profile: JSports JSPORTS - A Sports Management & Consulting company based in Bangalore offers services in Sports management, sports marketing, sports infrastructure, sports events, sports development etc... JSPORTS Events, a division of JSports pioneers in organising Sports events, tournaments and competitions. JSports is focused on grass root development of sports and functions with a motto and ambition to provide sports to all. JSPORTS ACADEMY is a premier academy operating at multiple locations in Bangalore. Our training focuses on grass root football development with implementation of technical training to improve skill, fitness, agility, endurance Download PPT Photo 1   View Contact Details                                                                                                                                                                     1
Job Description   Send me Jobs like this Responsibilities will be in the areas of providing inputs on specific projects or business problems faced by clients, people management, process-setting and research and development of new applications Project-specific: Work directly on projects and provide inputs on data quality, suitability of techniques, application of techniques to the business problem and interpretation of outputs Coordin ate with analysts, domain managers, onsite managers and junior statisticians during project delivery to ensure accuracy and meaningfulness of statistical outputs Provide guidance to team on applicability of statistical methods to specific issues posed by client. Process-setting: Guide team of analysts and business domain managers on setting up processes for application of specific statistical methods.  Such processes will include the following Convert ing a business problem to an analytical plan. Data cleaning and preparation steps for each technique/ application. Help with running analysis on statistical software such as SAS. Help with creating quality control mechanisms/ checklists. Guide and monitor setting up of processes for new client teams. Research & development Research new methods of analysis, suggest areas of analysis to the team, understand clients’ long-term analytics requirements and actively suggest methods to answer such needs Guide senior management on possible business applications of new statistical methods Be an overall thought/delivery leader across AQ for projects involving statistics Salary: Not Disclosed by Recruiter Industry: Strategy / Management Consulting Firms Functional Area: IT Software - Application Programming , Maintenance Role Category:Other Role:Fresher Keyskills Statistician Desired Candidate Profile Education- UG: Any Graduate PG:Any Postgraduate Doctorate:Any Doctorate - Any Specialization, Doctorate Not Required Please refer to the Job description above Company Profile: Analytics Quotient Services India Private Limited Analytics Quotient (AQ)is a marketing analytics company that provides business insights from various stats data monitoring services via data visualization tools Download PPT Photo 1   View Contact Details      1

In [36]:
# Filling the missing values with mode

df['jobdescription'] = df['jobdescription'].fillna(df['jobdescription'].mode()[0])

In [37]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.02
education              0.00
experience             0.02
industry               0.02
jobdescription         0.00
jobid                  0.00
joblocation_address    0.00
jobtitle               0.00
payrate                0.00
postdate               0.00
skills                 0.00
uniq_id                0.00
dtype: float64

In [38]:
# Getting the statistics of 'industry'

df['industry'].describe()

count                               21995
unique                                 63
top       IT-Software / Software Services
freq                                 9216
Name: industry, dtype: object

In [39]:
df['industry'].value_counts()

IT-Software / Software Services           9216
Education / Teaching / Training           1322
BPO / Call Centre / ITES                  1254
Banking / Financial Services / Broking    1238
Recruitment / Staffing                    1129
                                          ...
Medical Devices / Equipments                 4
Brewery / Distillery                         4
Pulp and Paper                               2
Broadcasting                                 1
Leather                                      1
Name: industry, Length: 63, dtype: int64

In [40]:
# Filling the missing values with mode

df['industry'] = df['industry'].fillna(df['industry'].mode()[0])

In [41]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.02
education              0.00
experience             0.02
industry               0.00
jobdescription         0.00
jobid                  0.00
joblocation_address    0.00
jobtitle               0.00
payrate                0.00
postdate               0.00
skills                 0.00
uniq_id                0.00
dtype: float64

In [42]:
# Getting the statistics of 'experience'

df['experience'].describe()

count         21996
unique          147
top       2 - 7 yrs
freq           1712
Name: experience, dtype: object

In [43]:
df['experience'].value_counts()

2 - 7 yrs      1712
2 - 5 yrs      1231
3 - 8 yrs      1192
3 - 5 yrs      1181
5 - 10 yrs     1084
               ...
3 - 10 yrs        1
11 - 19 yrs       1
26 - 30 yrs       1
13 - 22 yrs       1
7 - 16 yrs        1
Name: experience, Length: 147, dtype: int64

In [44]:
# Filling the missing values with mode

df['experience'] = df['experience'].fillna(df['experience'].mode()[0])

In [45]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.02
education              0.00
experience             0.00
industry               0.00
jobdescription         0.00
jobid                  0.00
joblocation_address    0.00
jobtitle               0.00
payrate                0.00
postdate               0.00
skills                 0.00
uniq_id                0.00
dtype: float64

In [46]:
# Getting the statistics of 'company'

df['company'].describe()

count                                     21996
unique                                     8469
top       Indian Institute of Technology Bombay
freq                                        403
Name: company, dtype: object

In [47]:
df['company'].value_counts()

Indian Institute of Technology Bombay                              403
Confidential                                                       393
National Institute of Industrial Engineering                       185
Oracle India Pvt. Ltd.                                             151
JPMorgan Chase                                                     135
                                                                  ...
JENTERS CONSULTING PVT. LTD. hiring for Its prestigious client.      1
Lister Technologies (P) Ltd                                          1
ABW Group                                                            1
Airpost india                                                        1
gameshastra solutions pvt ltd                                        1
Name: company, Length: 8469, dtype: int64

In [48]:
# Filling the missing values with mode

df['company'] = df['company'].fillna(df['company'].mode()[0])

In [49]:
percentage = round((df.isnull().sum() / len(df.index)) * 100, 2)
percentage

company                0.0
education              0.0
experience             0.0
industry               0.0
jobdescription         0.0
jobid                  0.0
joblocation_address    0.0
jobtitle               0.0
payrate                0.0
postdate               0.0
skills                 0.0
uniq_id                0.0
dtype: float64

In [50]:
df.isnull().sum().sum()

0