In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
time_ser = pd.date_range('2021-06-1', periods = 10)
df = pd.DataFrame({'time':time_ser})

In [3]:
df

        time
0 2021-06-01
1 2021-06-02
2 2021-06-03
3 2021-06-04
4 2021-06-05
5 2021-06-06
6 2021-06-07
7 2021-06-08
8 2021-06-09
9 2021-06-10

In [4]:
df.dtypes

time    datetime64[ns]
dtype: object

In [6]:
# Converting it to DateTime type

df['time'] = pd.to_datetime(df['time'])

In [8]:
# Extracting year, month and date

df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day

In [9]:
df

        time  year  month  day
0 2021-06-01  2021      6    1
1 2021-06-02  2021      6    2
2 2021-06-03  2021      6    3
3 2021-06-04  2021      6    4
4 2021-06-05  2021      6    5
5 2021-06-06  2021      6    6
6 2021-06-07  2021      6    7
7 2021-06-08  2021      6    8
8 2021-06-09  2021      6    9
9 2021-06-10  2021      6   10