In [1]:
import pandas as pd
import numpy as np

In [5]:
# Creating a new dataframe

i = pd.date_range('2021-06-20', periods = 7, freq = '8H')
df = pd.DataFrame({'A':[21, 30, 7, 8, 56, 12, 9]}, index = i)
df

                      A
2021-06-20 00:00:00  21
2021-06-20 08:00:00  30
2021-06-20 16:00:00   7
2021-06-21 00:00:00   8
2021-06-21 08:00:00  56
2021-06-21 16:00:00  12
2021-06-22 00:00:00   9

In [6]:
# at_time() gives the value present at the given time

df.at_time('08:00:00')

                      A
2021-06-20 08:00:00  30
2021-06-21 08:00:00  56

In [7]:
# Creating another dataframe

i = pd.date_range('2021-06-20', periods = 7, freq = '1D30min')
df = pd.DataFrame({'B':[40, 50, 20, 10, 8, 30, 15]}, index = i)
df

                      B
2021-06-20 00:00:00  40
2021-06-21 00:30:00  50
2021-06-22 01:00:00  20
2021-06-23 01:30:00  10
2021-06-24 02:00:00   8
2021-06-25 02:30:00  30
2021-06-26 03:00:00  15

In [9]:
# between_time() gives the value within a given range of time
# It takes start time and end time as its argument

df.between_time('00:30', '02:30')

                      B
2021-06-21 00:30:00  50
2021-06-22 01:00:00  20
2021-06-23 01:30:00  10
2021-06-24 02:00:00   8
2021-06-25 02:30:00  30