In [1]:
l = [1, 1, 1, 1, 2, 2, 2, 3, 3, 4]
new = []
for i in l:
    if i not in new:
        new.append(i)
print (new)

[1, 2, 3, 4]

In [2]:
# By using set

new = set (l)

In [3]:
new

{1, 2, 3, 4}

In [4]:
type (new)

set

In [1]:
my_set = {10, 20, 30}

In [2]:
type (my_set)

set

In [3]:
s1 = {45.63, "Hi", 85, (10, 11, 12)}

In [4]:
s1

{(10, 11, 12), 45.63, 85, 'Hi'}

In [5]:
for i in s1:
    print (i)

45.63
85
(10, 11, 12)
Hi

In [6]:
s = {10, 10, 13, 15, 13, 12, 12}

In [7]:
s

{10, 12, 13, 15}

In [8]:
a ={}

In [9]:
type (a)

dict

In [10]:
# To create empty set
b = set()

In [11]:
type (b)

set

In [13]:
se ={12, 13}
print (se)

{12, 13}

In [14]:
se.add(15)

In [15]:
print (se)

{12, 13, 15}

In [16]:
se.update([20, 21, 22])

In [17]:
se

{12, 13, 15, 20, 21, 22}

In [18]:
se.update([25, 26, 17], {1, 2, 3})

In [19]:
se

{1, 2, 3, 12, 13, 15, 17, 20, 21, 22, 25, 26}

In [20]:
se.discard(20)

In [21]:
se

{1, 2, 3, 12, 13, 15, 17, 21, 22, 25, 26}

In [22]:
se.remove(31)

KeyError: 31

In [23]:
se.remove(2)

In [24]:
se

{1, 3, 12, 13, 15, 17, 21, 22, 25, 26}

In [25]:
# To remove multiple values from set
# Create a list with the element to be removed
val = [1, 3, 12]
for i in val:
    if i in se:
        se.remove(i)
print (se)

{13, 15, 17, 21, 22, 25, 26}

In [26]:
s1 = set("Helloworld")

In [27]:
s1

{'H', 'd', 'e', 'l', 'o', 'r', 'w'}

In [29]:
s1.pop()

'd'

In [30]:
s1

{'H', 'e', 'l', 'o', 'r', 'w'}

In [31]:
# Union
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [32]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
print (a | b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
# Intersection
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [36]:
a.intersection(b)

{4, 5}

In [37]:
print (a & b)

{4, 5}

In [38]:
# Set difference
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [39]:
print (a - b)

{1, 2, 3}

In [40]:
a.difference(b)

{1, 2, 3}

In [41]:
b.difference(a)

{6, 7, 8}

In [42]:
# Set symmetric difference

a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [43]:
print (a ^ b)

{1, 2, 3, 6, 7, 8}

In [46]:
# Clear all the elements of a set
a.clear()

In [48]:
a

set()

In [51]:
# Check for subset
a = {1, 2, 3, 4, 5}
b = {1, 2, 5}

a.issubset(b)

False

In [52]:
b.issubset(a)

True

In [54]:
# Check for disjoint
a = {1, 2, 3, 4, 5}
b = {6, 7, 8}

a.isdisjoint(b)

True

In [56]:
# Check for superset
a = {1, 2, 3, 4, 5}
b = {1, 2, 5}
a.issuperset(b)

True

In [57]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8}
b.issuperset(a)

False

In [67]:
# Copy one set to another
a = {1, 2, 3, 4, 5}
b = a.copy()

In [68]:
b

{1, 2, 3, 4, 5}